html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.modal__titlediv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
}


button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #ffc400;
}
.off {
  color: #b9b1b1;
}

.star{
  font-size: 1.8rem;
}


.text-line-2{
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}


.text-eclipse{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.text_cart{
    text-align: center;
    background: none !important;

}

.footer-hiring-btn {
  right: 1px;
  position: fixed;
  top: 45%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer-hiring-btn2  img {
    max-width: 28px !important;
}

@media (max-width:675px){
  .footer-hiring-btn2 img {
    max-width: 24px !important;
}

}